**/build/*
!**/build/top.bit
.vscode/.ropeproject/objectdb
working/
**/tmp/
**/old
**/*.old
**/__pycache__
**/tempCodeRunnerFile.py
**/.Xil
*.vcd
*.old
*.pyc
*.pyo
*.swp
*.jou
*.log
*.pid
*.rel
*.sym
*.noi
*.map
*.lst
*.bin
*.z80
*.ihx
*.lk
samples/**/*.asm
src/c-runtime/*.asm
